<div class="mb-3">
  <form>
    <label for="exampleFormControlTextarea1" class="form-label">Add Comment</label>
    <textarea class="form-control" id="comment" rows="3"></textarea>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
		  <button class="btn btn-primary" type="submit" id="submit">Add Comment</button>
    </div>
  </form>
</div>
<br>